.Bio {
    /* padding: 0px 80px; */
    margin-top: 40px;
}

/* JULIAN OLBRICH */
/* .Bio h1 {
    font-family: 'Neuton', serif;
    font-size: 83px;
    font-weight: 400;
    text-align: center;
    margin: 50px 0px 60px;
    letter-spacing: 5px;
    line-height: 90px;
    display: inline-block;
    transition: all .1s ease-in-out;
}
    .Bio h1:hover {
        color: white;
    } */

.Bio-business {
    /* background-color:  #EFD60B; */
    padding: 50px 120px 60px 130px;
}

/* TEXT - BUSINESS */
.Bio h2 {
    font-family: 'Chicle', cursive;
    font-size: 80px;
    letter-spacing: 6px;
    margin: 0;
    padding: 0;
    line-height: 100px;
    color: #EFD60B;
    /* background-color: #EFD60B; */
}
    .Bio h2 a {
        color: white;
        text-decoration: none;
        transition: all .1.5s ease-in-out;
    }
        .Bio h2 a:hover {
            color: #EF4C21;
            transition: all .0.9s ease-in-out;
        }

.Bio-tech {
    background-color:  #fff;
    padding: 30px 120px 30px 130px;
    background: linear-gradient( 180deg, #24A6DC, #EFD60B 121px, #EFD60B 20px, #EFD60B 40px)
    /* background: linear-gradient( 90deg, #EF4C21, #24A6DC 55px, #fff 20px, #fff 40px) */
}
/* TEXT - FULLSTACK */
.Bio h4 {
    font-family: 'Viaoda Libre', cursive;
    font-size: 59px;
    line-height: 86px;
    margin: 30px 20px;
    padding: 0;
    letter-spacing: 1.5px;
    /* background-color: rgb(255, 225, 0); */
}
    .Bio h4 a {
        text-decoration: none;
        color: black;
    }
        .Bio h4 a:hover {
            text-decoration: underline;
            text-decoration-thickness: 2px; 
        }

/* EMOTICONS */
.Bio-smileys {
    display: none;
}
    .Bio-smiley-icon {
        margin: 20px 20px 0px;
    }

/* STACK - ICONS */
.Bio-stack {
    font-size: 60px;
    max-width: 650px;
    margin: 30px auto 0px;
    display: flex;
    justify-content: center;
}
    .Bio-stack-icon {
        margin: 30px 50px;
        transition: all .1s ease-in-out;
    }

/* STACK - IN-TEXT */
.rails {
    color: black;
    transition: all .1s ease-in-out;
}
    .rails:hover {
        color: #C60402;
        transition: all .1s ease-in-out;
    }
.javascript {
    color: black;
    transition: all .1s ease-in-out;
}
    .javascript:hover {
        color: #EFD919;
        transition: all .1s ease-in-out;
    }
.react {
    color: black;
    transition: all .1s ease-in-out;
}
    .react:hover {
        color: #05D1F6;
        transition: all .1s ease-in-out;
    }

/* ICONS */
.rails-icon {
    color: #C60402;
    font-size: 84px;
    position: relative;
    top: -17px;
    margin-right: 35px;
}
.javascript-icon {
    /* color: #EFD919; */
    color: black;
}
.react-icon {
    color: #05D1F6;
}
.node-icon {
    color: #71A761;
    font-size: 71px;
    position: relative;
    top: -4px;
}

/* .fullstack {
    text-decoration: underline;
    text-decoration-thickness: 3px;
} */


@media (max-width: 780px) {
    .Bio {
        padding: 0px;
        margin-top: 55px;
    }
    /* .Bio h1 {
        display: none;
    } */
    .Bio-business {
        /* background-color:  #EFD60B; */
        padding: 50px 80px 0px 90px;
    }
    .Bio h2 {
        font-size: 34px;
        letter-spacing: 1px;
        line-height: 46px;
    }
    .Bio-tech {
        padding: 150px 60px 25px 80px;
    }    
    .Bio h4 {
        font-size: 29px;
        
        line-height: 47px;
        margin: 17px 0px 0px;
        letter-spacing: 0.5px;
    }

    .Bio-smileys {
        font-size: 32px;
        /* max-width: 600px; */
        margin: 5px auto 35px;
        display: flex;
        justify-content: space-around;
    }

    /* .fullstack {
        text-decoration: underline;
        text-decoration-thickness: 1px;
    } */
    
    .Bio-stack {
        font-size: 32px;
        display: flex;
        justify-content: space-around;
    }

    /* .rails {
        color: #C60402;
    }
    
    .javascript {
        color: #EFD919;
    }
    
    .react {
        color: #05D1F6;
    } */
    
    .Bio-stack-icon {
        margin: 0 10px;
    }

    .rails-icon {
        font-size: 53px;
        position: relative;
        top: -13px;
        margin-right: 7px;
    }
    
    .node-icon {
        color: #71A761;
        font-size: 52px;
    }

    /* .stack-icon-rails {
        font-size: 64px;
        position: relative;
        top: -5px;
    } */

    #work{
        padding-top: 30px;
    }

}