.Card-alt {
    /* border: 1px solid black; */
    height: 50vw;
    object-fit: cover;
    margin: 0px 30px 20px 30px;
}

.Card {
    /* width: 100%; */
    /* margin: 0px 10px 40px 20px; */
    margin: 30px;
    max-width: 80vw;
    height: 400px;
    display: flex;
    border: 1px solid black;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
    /* overflow: scroll; */
    transition: all .1s ease-in-out;
}

.Card:hover {
    cursor: pointer;
    transition: all .1s ease-in-out;
}


.Card-image {
    width: 575px;
    /* height: 400px; */
    /* background-size: cover; */
}


.Card-text {
    text-align: left;
    width: 245px;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 3px 15px 12px;
    /* overflow: scroll; */
}

.Card-title {
    font-size: 24px;
    font-family: 'Faster One', cursive;
    margin-bottom: 10px;
}
.Card-shorttext {
    line-height: 26px;
    font-size: 13px;
    word-wrap: break-word;
}

.Card-techstack {
    margin-top: 30px;
    font-size: 11px;
    font-style: italic;
    text-decoration: underline;
}

.Card-stacks {
    display: flex;
    flex-direction: column;
}

.Card-stack {
    border-radius: 50px;
    border: 1px solid lightblue;
    padding: 5px 9px;
    margin: 7px 10px 7px 0px;
    text-align: center;
    font-size: 10px;
    line-height: 15px;
}

.Card-stacklist {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 650px) {
    .Card {
        /* flex-direction: column; */
    }
}