.Card-alt {
    width: 1000px;
    height: 50vw;
    border: 1 px solid black;
    display: flex;
    flex-direction: column;
}

.Card-alt-text {
    height: 25vw;
    text-align: center;
    width: 245px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 3px 15px 9px;
    overflow: scroll;
    background: white;
}

.Card-alt-image {
    /* border: 1px solid black; */
    width: 80vw;
    height: 120vw;
    object-fit: cover;
    /* margin: 0px 30px 20px 30px; */
}

/* .Card-alt:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: all .1s ease-in-out;
    position: relative; 
    top: -2px;
    right: -1px;
} */

.Card {
    padding: 15px 15px 15px 10px;
    margin: 20px auto;
    max-width: 590px;
    height: 250px;
    display: flex;
    border: 1px solid black;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
    transition: all .08s ease-in-out;
    opacity: 0.9;
    background-color: rgba(0,0,0,9);
    color: #5393fe;
}

.Card:hover {
    cursor: pointer;
    opacity: 1;
    transition: all .1s ease-in-out;
}

.Card-image {
    width: 590px;
    /* height: 400px; */
    /* background-size: cover; */
    /* background: white; */
}


.Card-text {
    text-align: left;
    width: 240px;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 3px 15px 9px;
    overflow: scroll;
    /* background: white; */
    
}

.Card-title {
    font-size: 20px;
    font-family: 'Faster One', cursive;
    margin-bottom: 4px;
    padding-left: 0px;
}
.Card-shorttext {
    line-height: 26px;
    font-size: 13px;
    word-wrap: break-word;
    color: rgba(250,250,250,0.9);
}

.Card-techstack {
    margin-top: 10px;
    font-size: 11px;
    font-style: italic;
    text-decoration: underline;
}

.Card-stacks {
    display: flex;
    flex-direction: column;
}

.Card-stack {
    border-radius: 50px;
    border: 1px solid lightblue;
    padding: 3px 7px;
    margin: 0px 4px 7px 0px;
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    background: black;
    color: rgba(250,250,250,0.9);
}

.Card-stacklist {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

@media (max-width: 650px) {
    .Card {
        padding: 0px 6px 8px 7px;
        max-width: 360px;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .Card-image {
        width: auto;
        height: 153px;
        /* background-size: cover; */
        /* background: white; */
        border: 1px solid white;
    }

    .Card-text {
        padding: 5px 3px 5px 9px;
    }
}


@media (min-width: 1000px) {
    .Card {
        max-width: 851px;
        height: auto;
        display: flex;
        /* flex-direction: column; */
    }

    .Card-image {
        width: 802px;
        height: 393px;
        /* background-size: cover; */
        background: white;
    }

}