.Navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: none;
    /* background-color: #EFD60B; */
    z-index: 0;
}
    .Navbar-logo:hover {
        color: white;
    }

.Navbar-logo {
    padding: 10px 20px 20px 30px;
    font-size: 36px;
    color: black;
    font-family: 'Faster One', cursive;
    margin: 10px;
    transition: all .08s ease-in-out;
}
    .Navbar-logo h2 {
        font-family: 'Viaoda Libre', cursive;
        transition: all .08s ease-in-out;
    }

.Navbar-links {
    display: flex;
    margin: 15px 40px 20px;
    font-family: 'Chicle', cursive;
}
    .Navbar-links a {
        color: black;
        font-size: 1.1rem;
        text-decoration: underline;
        transition: all .07s ease-in-out;
        font-weight: 500;
    }
        .Navbar-links a:hover {
            font-weight: 700;
            text-decoration: none;
            transform: scale(1.1);
        }
            .Navbar-link {
                padding: 0px 30px;
                margin: auto;
            }

@media (max-width: 650px) {
    .Navbar {
        flex-direction: column;
    }
        .Navbar-links {
            /* margin: 5px 40px; */
            display: none;
        }
            .Navbar-links a {
                font-size: 18px;
                opacity: 0.8;
                letter-spacing: 0.5px;
            }
}