.Work {
    padding: 0px 80px;
    overflow: scroll;
    font-family: 'Chicle', cursive;
}

.Work h2 {
    font-size: 43px;
    margin-bottom: 20px;
}

.Work-cards {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    margin: auto;
    /* overflow: scroll; */
}

@media (max-width: 780px) {
    .Work {
        padding: 0px 0px 0px 20px;
        margin-right: 0px;
    }
  }