.Work {
    overflow: scroll;
    font-family: 'Chicle', cursive;
    background: linear-gradient( 180deg, #EFD60B, #EF4C21 100%, #fff 20px, #fff 40px)
}

.Work h2 {
    font-size: 43px;
    margin: 40px 20px 10px;
    letter-spacing: 2px;
}

.Work-cards {
    display: flex;
    flex-direction: column;
    margin: auto;
}

@media (max-width: 780px) {
    .Work {
        padding: 0px 0px 20px 20px;
        margin-right: 0px;
    }
  }