.Card {
    /* height: 300px;   */
    max-width: 80vw;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    overflow: hidden;
}

.Card-info {
    /* position: absolute; */
    right: 10vw;
    height: auto; 
    width: 20vw;
    background: #5393fe;
    opacity: 0.8;
    padding: 10px;
    text-align: left;
}

.Card-info h4 {
    font-size: 30px;
}

.Card-image {
    margin: auto;
}

.Card-image img {
    width: 68vw;
}

.Work {
    display: flex;
    overflow: scroll;
}

.Card-2 {
    /* width: 14000px; */
    margin: 0px 10px 40px 20px;
    height: 500px;
    display: flex;
    border: 1px solid black;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    /* overflow: scroll; */
    margin-bottom: 50px;
}

.Card-2-image {
    width: 820px;
    /* height: 352px; */
    /* background-size: cover; */
}

.Card-2-text {
    text-align: left;
    width: 250px;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 20px 15px 20px;
    /* overflow: scroll; */
}

.Card-2-title {
    font-size: 24px;
    font-family: 'Faster One', cursive;
    margin-bottom: 10px;
}
.Card-2-shorttext {
    line-height: 26px;
    font-size: 14px;
    word-wrap: break-word;
}

.Card-2-techstack {
    margin-top: 30px;
    font-size: 12px;
    font-style: italic;
    text-decoration: underline;
}

.Card-2-stacks {
    display: flex;
    flex-direction: column;
}

.Card-2-stack {
    border-radius: 50px;
    border: 1px solid lightblue;
    padding: 5px 9px;
    margin: 7px 10px 7px 0px;
    text-align: center;
    font-size: 13px;
    line-height: 15px;
}

.Card-2-stacklist {
    display: flex;
    flex-wrap: wrap;
}