body {
  font-family: Space Mono,monospace;
}

.App {
  text-align: center;
  background-color: rgba(250,250,250,0.8);
}

.App-work {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}