body {
  font-family: Space Mono,monospace;
  text-align: center;
  /* background-color: #EFD60B; */
  width: 100%;
}

.App {
  margin-top: 10px;
  /* padding: 0px 80px; */
  /* overflow: hidden; */
}

@media (max-width: 780px) {
  .App {
      margin-top: 148px;
      /* padding: 0px 20px 0px 45px; */
  }
}